* {
    box-sizing: border-box;
	padding: 10px;
	margin: 0;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.value-container {
    display: flex;
    flex-direction: column;
}
h1 {
    text-align: center;
    text-decoration: underline;
    font-size: 4.5rem;
}

span {
    text-align: center;
    font-size: 4rem;
    /* margin-left: 10rem; */
}
.btn {
    background-color: violet;
    border-radius: 0.5rem;
    border: 2px solid back;
    letter-spacing: 0.2rem;
    margin-right: 0.5rem;
    color: black;
    font-weight: 400;
    text-transform: uppercase;
}

.btn:hover {
    background-color: white;
}

@media screen and (max-width: 490px){
    .button-container {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    }
    
}